<launch>
  <include file="$(find gopro_calibration)/launch/play.launch" />
<!--
  <node name="record" pkg="rosbag" type="record" args="/gscam/image_rect_color -O /tmp/image_rect -b 0" />
--> 
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/gscam/image_rect_color"/>
    <param name="sec_per_frame" value="0" />
  </node>
</launch>